# General
*__pycache__
*.pytest_cache/
*.cache
*DS_Store
*.py[cod]
*.ipynb_checkpoints/
.python-version
*.env
*data/

# Project specific
tests/docker_example.txt
src/rbm_models/images/
src/rbm_models/notes.txt
